* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --color-white: rgba(221, 218, 218,0.8);
  --color-background: #06121E;

  --color-dark: #171818;
  --color-green: #1cb831; 
}