* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button {
  padding: 8px 24px;
  border-radius: 8px;
  border: none;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  cursor: pointer;
  z-index: 1000;
}

button:hover {
  opacity: 0.7;
}

:root {
  --color-white: rgba(221, 218, 218,0.8);
  --color-background: #06121E;

  --color-dark: #171818;
  --color-green: #1cb831; 
}